@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Be Vietnam Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-top: 70px;
}

* {
  transition: all 0.2s ease-in-out;
}

.container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.font-light {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 700;
}

.hero-section {
  background-image: url("images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 105% -120px;
  background-size: contain;
}

.about-section {
  background-repeat: no-repeat;
  background-position: 50px 0px;
  background-size: contain;
}

h1,
h2,
h3 {
  @apply font-semibold text-slate-800;
}

p {
  @apply text-slate-500 text-sm leading-6 tracking-wider max-w-96;
}

.simplify {
  background-image: url(images/bg-simplify-section-desktop.svg);
}

.links-container {
  @apply max-h-0 overflow-hidden sm:max-h-max sm:overflow-visible;
}

.links-active {
  @apply absolute flex items-center justify-center top-60 flex-col m-auto max-h-max bg-white rounded;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.links-active .links-ul {
  @apply flex-col justify-center p-5;
}

.links-active .btn {
  @apply pb-5;
}

.black-box {
  background: linear-gradient(to bottom, #ddd, rgba(0, 0, 0, 0.5) 50%);
}
